@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  @apply font-sans;
}

/* Custom Scrollbar for Webkit browsers */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.1);
}

/* Intro Animation Gradient */
@keyframes animated-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.intro-gradient {
  background: linear-gradient(-45deg, #1f2937, #3730a3, #4f46e5, #1f2937);
  background-size: 400% 400%;
  animation: animated-gradient 15s ease infinite;
}
